<footer>
  <section class="container recipe">
    <div></div>
    <div class="footer__content">
      <p>
        <a href="mailto:a@dassonville.dev">Email</a>
        <span class="link-divider">·</span>
        <a href="https://twitter.com/theandrewda">Twitter</a>
        <span class="link-divider">·</span>
        <a href="https://github.com/andrewda">GitHub</a>
        <span class="link-divider">·</span>
        <a href="https://www.linkedin.com/in/andrew-dassonville/">LinkedIn</a>
        <span class="link-divider">·</span>
        <small class="nowrap">
          &copy; 2023
        </small>
      </p>
    </div>
  </section>
</footer>
